body {
    font-family: Arial, sans-serif;
}
.menu-header {
    text-align: center;
    margin: 30px 0;
}
.menu-header h1 {
    font-size: 3rem;
}
.menu-header p {
    color: gray;
}
.menu-category {
    text-align: center;
    margin: 20px 0;
}
.menu-category button {
    margin: 5px;
}
.menu-item {
    text-align: center;
    margin-bottom: 30px;
}
.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.menu-item h5 {
    margin: 10px 0;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.center-text {
    text-align: center;
}
.top-bar {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}
.top-bar a i{
    color: #fff;
}

.social-icons a {
    margin-left: 0.5rem;
}
/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: #333;
    
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.nav-links a.active {
    background-color: #bfd19ed0;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
}

.reservation-btn {
    padding: 0.5rem 1rem;
    border: 2px solid #333;
    border-radius: 20px;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.footer-links ul {
    list-style: none;
}

.footer-links h3,.footer-gallery h3{

    margin-bottom: 30px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin-top: 15x;
}

.social-footer{
    margin-top: 20px;
}

.footer-content .social-footer a{
    background-color: red;
    border-radius: 15px;
    padding: 8px;
}
.footer-content .social-footer a i{
    color: #fff;
}

.instagram-images {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    gap: 0.5rem;
}

.instagram-images img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
}
.menu-title {
    font-size: 6em; /* Ajustez la taille selon vos besoins */
}